.container {
    padding: 5px;
}

.navbar-brand {
    font-size: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

input {
    text-transform: uppercase;
    display: table;
    text-align: center;
    margin: 15px auto;
    border: 1px solid rgb(50, 50, 50);
}

:disabled { background-color: lightgray }


#message-container{
    margin: auto;
    position: fixed;
    font-size: 15px;
    width: 325px;
    display: flex;
    right: 50%;
    left: 0;
    right: 0;
    flex-direction: column;
}

.message-box {
    padding: 0.5rem 0.25rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color:black;
    color:white;
    animation: fadeinout 2s ease;
}

.fadeout{
    animation: fadeinout 1s ease 2s forwards;
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }