{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

TRUCK
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10">
</form>
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10" disabled>
</form>
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10" disabled>
</form>
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10" disabled>
</form>
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10" disabled>
</form>
<form action="/" method="post">
    <input maxlength="5" pattern="[A-Za-z]*" type="text" size="10" disabled>
</form>
WHINE

{% endblock %}